﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000;
    color:#fff;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
h1 {
    margin-top: 20px;
}
.orange {
    color: #faa114
}
.logo{
    width:100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-default {
    background-color:#36b428;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}