﻿@{
    ViewBag.Title = "Choose your favourite pizza";
}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{int i = 0; }
        @foreach (var pizza in ViewBag.Pizzas)
        {
            <div class="item @(i == 0 ? "active" : "")">
                <a href="/home/vote?pizza=@pizza.Id"><img src="~/Content/PizzaImages/@pizza.ImageName" alt="@pizza.Name" /></a>
                <div class="carousel-caption">
                    @pizza.Name
                </div>
            </div>
            i++;
        }
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>