﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-12">
            <img class="logo" src="http://photos1.meetupstatic.com/photos/theme_head/b/0/6/full_4922822.jpeg" />
            <h1 class="orange">Next meetup</h1>
            <p>6:30 pm, Thursday 3rd March</p>
            <p>
                Business and Technology Centre<br />
                Bessemer Drive<br />
                SG1 2DX<br />
                Stevenage
            </p>
            <p class="orange">Brought to you by</p>
            <img src="http://www.earthware.co.uk/Content/images/logos/single-logo.png" />
            <p>
                <span class="orange">Time remaining to vote</span><br />
                3 days, 10 hours, 23 minutes
            </p>
            <a href="/home/chooser" class="btn btn-default">I'm going - feed me!</a>
        </div>
    </div>
